name: Test on Pull Request

on: pull_request

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Install dependencies
        run: |
          npm install
          if [ $? -eq 0 ]
          then
            echo "Install dependencies passed"
          else
            echo "nstall dependencies"
            exit 1
          fi
      - name: Run tests
        run: |
          npm test
          if [ $? -eq 0 ]
          then
            echo "Tests passed"
          else
            echo "Tests failed"
            exit 1
          fi
